@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

.App-container {
	text-align: center;
	padding: 40px;
	background-color: #000000;
}

.App-banner {
	text-align: left;
	padding: 20px;
	color: white;
	font-family: 'Pacifico';
	font-size: 4em;
}

.App {
	background-color: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(20px + 2vmin);
	color: white;
	animation: fadeIn7Sec 7s;
}

@keyframes fadeIn7Sec {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
