@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

.App-container {
	text-align: center;
	padding: 40px;
	background-color: #000000;
}

.App-banner {
	text-align: left;
	padding: 2px;
	margin: 2px;
	color: white;
	font-family: 'Pacifico';
	font-size: 40px;
}

.App {
	background-color: #000000;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: white;
}

.App-footer {
	min-height: 5vh;
	background-color: black;
}

.ant-btn-primary {
	background-color: green;
	border-color: black;
}

.ant-btn-primary:hover {
	background-color: #006400;
}
